body {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patrick Hand", cursive;
}

p {
  font-weight: 100;
}

a {
  color: #20639b;
}

.active {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #20639b;
}

.blue {
  color: #20639b;
}
