body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(1.25rem + 0.1vw);
}

body:after {
  content: '';
  background-image: url('./icon.svg');
  background-position: -6rem -10%;
  background-repeat: no-repeat;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

p {
  font-weight: 300;
}

strong,
b {
  font-weight: 700;
}

a {
  color: #20639b;
  outline: none;
}

.active--exact,
.blog.active {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #20639b;
}

.blue,
.hover-blue:hover {
  color: #20639b;
}

@media screen and (min-width: 768px) {
  body:after {
    background-position: -6rem -10%;
  }
}
